In [34]:


# ¬øQu√© diferencia hay entre una Serie y un Dataframe?
# La serie tiene una dimensi√≥n y el DataFrame tiene dos

# Momento de trabajar con Series. Contestas las siguientes preguntas:
# Crea dos listas:
# Una que se llame "valores" que tenga 7 n√∫meros aleatorios.
# Otra que se llame "indices" que tenga 7 strings que se llamen como los dias de la semana.


valores = [3, 20, 35, 70, 2, 15, 21]
indices = ["Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado", "Domingo"]

# A partir de estas dos listas crea una Serie donde la variable "valores" sean los valores de la Serie y la variable indices sean los √≠ndices de la Serie.
serie = pd.Series(valores, indices)
serie
# A partir de las dos listas anteriores crea un diccionario usando un for. Para hacer esto tenemos el m√©todo zip que nos permite iterar por dos listas a la vez. M√°s informci√≥n sobre este m√©todo aqu√≠.
# lista = valores, indices
# print("Esto es la lista", lista)

diccionario_global = {}
for key,value in zip(indices, valores):                   #crea un iterable
    diccionario = {key:value}                             #podr√≠amos evitar variable diccionario y poner directamente v:i en dic_global.update(key, value)
    diccionario_global.update(diccionario)
print(diccionario_global)


# Crea una Serie con el diccionario creado en el punto anterior.

serie_diccionario = pd.Series(diccionario_global)
serie_diccionario

# Forma, tama√±o, √≠ndices y values

print("Esta es la forma de nuestra serie", serie_diccionario.shape)
print("Este es el ti po de nuestra serie" , serie_diccionario.dtypes)
print("Este es el tama√±o de nuestra serie", serie_diccionario.size)
print("Estos son los valores de nuestra serie", serie_diccionario.values)

# Extraed el valor para el √≠ndice "lunes"
print(serie_diccionario)

# Extraed el valor para el √≠ndice "lunes", "martes" y "mi√©rcoles"
# Extraed el valor para el √≠ndice "lunes" y "domingo"
print(serie_diccionario["Lunes"])                                                               #C√≥mo se podr√≠a hacer en una sola l√≠nea de c√≥digo?
print(serie_diccionario["Martes"])
print(serie_diccionario["Miercoles"])  

# Es el turno de los dataframes.  Cread un array de dos dimensiones con 4 filas y 3 columnas.
# Convertid el array en un dataframe donde las columnas se llamen "Espa√±a", "Francia" e "Italia".

array_df = np.random.randint(0,100,(4,3))
dataframe = pd.DataFrame(array_df)

dataframe.rename(columns = {0:"Espa√±a", 1:"Francia", 2:"Italia"}, inplace = True)
dataframe

{'Lunes': 3, 'Martes': 20, 'Miercoles': 35, 'Jueves': 70, 'Viernes': 2, 'Sabado': 15, 'Domingo': 21}
Esta es la forma de nuestra serie (7,)
Este es el ti po de nuestra serie int64
Este es el tama√±o de nuestra serie 7
Estos son los valores de nuestra serie [ 3 20 35 70  2 15 21]
Lunes         3
Martes       20
Miercoles    35
Jueves       70
Viernes       2
Sabado       15
Domingo      21
dtype: int64
3
20
35

In [84]:
# Descargad el archivo "medallas" y cargad el dataframe con la siguiente l√≠ena de c√≥digo:

df = pd.read_csv("medallas.csv", index_col=["Pa√≠s"])
df

# üìå NOTA Para evitar problemas guardar el archivo medallas.csv a la misma altura que el jupyter donde estamos trabajando.
# Usando el loc extraed todas las columnas de la fila.
df.loc["China",:]


# Usando el loc extraed todas las columnas de China e Ir√°n.
df.loc[["China","Ir√°n"],:]

# Usando el loc extraed solo las columnas de "Oro", "Plata" y "Bronce" de China e Ir√°n.
df.loc[["China","Ir√°n"],["Oro", "Plata", "Bronce"]]

# Usando el iloc extraed la informaci√≥n de la India. Devolved todas las columnas
df
indice_india = df.loc["India", "Unnamed: 0"]
# indice_india
df.iloc[indice_india - 1]

# Usando el iloc extraed todas las columnas de los paises que est√©n en posici√≥n impar. La primera que nos tendr√≠a que salir es Jap√≥n y la √∫ltima Corea del Norte.

# df.iloc[1:10:2]

# Utilizando el c√≥digo del ejercicio anterior, seleccionad unicamente las columnas "Oro", "Plata" y "Bronce".
# df.iloc[[1:10:2],[1:4]]]

# Contestad a las siguientes preguntas:
# ¬øQu√© pa√≠s consigui√≥ m√°s de 200 medallas de oro?
df.loc[df.Oro > 200,:]

# ¬øQu√© pa√≠s consigui√≥ m√°s de 200 medallas de oro y m√°s de 1000 de plata?
df.loc[(df.Oro > 200) & (df.Plata > 1000)]

# ¬øQu√© pa√≠s consigui√≥ m√°s de 200 medallas de oro o m√°s de 700 de bronce?
df.loc[(df.Oro > 200) | (df.Plata > 700)]

# Como vemos hay una columna que se llama Unnamed: 0 que no nos interesa. Eliminad esa columna.
df2 = df.copy()

# df2.drop(df2.loc("Unnamed: 0"))
df2.drop("Unnamed: 0", inplace=True, axis=1) 
df2
# Cread una nueva columma que se llame "total" que sea el resultado de la suma de todas las medallas obtenidas por cada pa√≠s.
df["Total"] = (df["Oro"]+ df["Plata"] + df["Bronce"])
df

                 Unnamed: 0   Oro  Plata  Bronce  Total
Pa√≠s
China                     1  1473    994     720   3187
Jap√≥n                     2  1032   1037     985   3054
Corea del Sur             3   745    663     827   2235
Ir√°n                      4   179    181     197    557
Kazajist√°n                5   155    158     224    537
India                     6   154    202     315    671
Tailandia                 7   132    175     278    585
Indonesia                 8   112    131     240    483
China Taip√©i              9    99    144     276    519
Corea del Norte          10    91    120     235    446