In [58]:
import pandas as pd
import numpy as np

In [19]:
# Cargad el csv que guardasteis ayer.
df = pd. read_csv("odisea.csv")

In [3]:
df.head()

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...

In [25]:
#nº de filas de el df original (sin borar nan)
df_con_nans = df.shape
df_con_nans

(6114, 13)

In [26]:
#eliminando nulos del df
df.dropna(inplace = True)

In [27]:
df_sin_nans = df.shape
df_sin_nans

(1502, 13)

In [28]:
#se han borrado
nans_borrados = df_con_nans[0]-df_sin_nans[0]
nans_borrados

4612

In [13]:
df.head()

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
6,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
10,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
13,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...

In [35]:
# ¿Cuál es el número de ataques que se han producido en Estados Unidos?
df_usa = (df[df["country"] == "USA"])
len(df_usa)

719

In [37]:
# Ataques en España?
df_spain = df[df["country"] == "SPAIN"]
len(df_spain)

(5, 13)

In [38]:
# 3.1 ¿En qué regiones se han producido los ataques?
df_spain.head()

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
98,2017.08.26.b,2017.0,Invalid,SPAIN,Castellón,Grao de Moncofa,Swimming,female,F,11,Midday,Shark involvement questionable,http://sharkattackfile.net/spreadsheets/pdf_di...
233,2016.07.29,2016.0,Unprovoked,SPAIN,Alicante Province,Arenales del Sol,Swimming,male,M,40,11h30,Blue shark,http://sharkattackfile.net/spreadsheets/pdf_di...
377,2015.08.18.a,2015.0,Invalid,SPAIN,Alicante,"Poniente Beach, Benidorm",Swimming,male,M,10,11h00,Shark involvement not confirmed,http://sharkattackfile.net/spreadsheets/pdf_di...
1007,2010.07.16.b,2010.0,Provoked,SPAIN,Grand Canary Island,"Sardina del Norte, Gáldar",Swimming,male,M,9,19h15,Angel shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2469,1993.09.03,1993.0,Unprovoked,SPAIN,Costa Blanca,"Playa de las Arenas, Valencia",Swimming,Jorge Durich Heredia (or Hernandez),M,69,08h00,1.2 m [4'] shark,http://sharkattackfile.net/spreadsheets/pdf_di...

In [8]:
######################################################
#estas son las regiones donde se han producido los ataques
df_spain["area"].unique

<bound method Series.unique of 82           Canary Islands
98                Castellón
113                 Majorca
130            Ibiza Island
233       Alicante Province
248          Canary Islands
320     Grand Canary Island
377                Alicante
470                 Granada
503               Catalonia
508                Alicante
527          Canary Islands
654               Catalonia
1007    Grand Canary Island
1102              Catalunya
1452               Alicante
2469           Costa Blanca
2813              Catalonia
2814                  Cádiz
3050         Canary Islands
3399         Canary Islands
3847              Catalonia
5026         Canary Islands
5053               Valencia
5137          Sants-Montjic
5151              Valencia
5175                 Galica
5294           Gran Canaria
5363              Balearics
5370                Málaga
5405              Andalucia
5416                Galicia
5417         Canary Islands
5814               Valencia
5926       Eastern Catalona
5949                    NaN
5950                 Malaga
5951                 Malaga
5952                  Cádiz
5953                  Cádiz
6062                    NaN
6092                    NaN
Name: area, dtype: object>

In [9]:
# 3.2 ¿Cuántos ataques se han producido en cada área?
df_spain["area"].count

<bound method Series.count of 82           Canary Islands
98                Castellón
113                 Majorca
130            Ibiza Island
233       Alicante Province
248          Canary Islands
320     Grand Canary Island
377                Alicante
470                 Granada
503               Catalonia
508                Alicante
527          Canary Islands
654               Catalonia
1007    Grand Canary Island
1102              Catalunya
1452               Alicante
2469           Costa Blanca
2813              Catalonia
2814                  Cádiz
3050         Canary Islands
3399         Canary Islands
3847              Catalonia
5026         Canary Islands
5053               Valencia
5137          Sants-Montjic
5151              Valencia
5175                 Galica
5294           Gran Canaria
5363              Balearics
5370                Málaga
5405              Andalucia
5416                Galicia
5417         Canary Islands
5814               Valencia
5926       Eastern Catalona
5949                    NaN
5950                 Malaga
5951                 Malaga
5952                  Cádiz
5953                  Cádiz
6062                    NaN
6092                    NaN
Name: area, dtype: object>

In [10]:
################################este no da nadaaaa.. estará bien??? 
# Extrae un dataframe nuevo con los ataques que se han producido en Australia y Estados Unidos. 
# 📌 Nota Este ejercicio se puede resolver usando dos condiciones de filtrado o usando el método isin(). Hacedlo con ambas herramientas.
df_countries = df[(df["country"] == "USA") & (df["country"] == "AUSTRALIA")]
df_countries.head()

Empty DataFrame
Columns: [case_number, year, type, country, area, location, activity, name, sex_, age, time, species_, href]
Index: []

In [11]:
######## error porque USa y AUS es string
#método isin
df_countries2 = [df["country"].isin("USA"),df["country"].isin("AUSTRALIA")]
df_countries2

TypeError: only list-like objects are allowed to be passed to isin(), you passed a [str]

In [47]:
# 4.1 ¿Cuántos ataques se han producido en cada pais?
df["year"].unique

<bound method Series.unique of 0       2018.0
6       2018.0
8       2018.0
10      2018.0
13      2018.0
         ...
5528    1901.0
5631    1894.0
5667    1892.0
5797    1880.0
5905    1868.0
Name: year, Length: 1502, dtype: float64>

In [46]:
# 4.2 ¿Ha habido ataques en Australia a gente que estuviera remando (lo encontrareis como Paddling en el dataframe en la columna activity)?

df_aus_padd = df[(df["country"] == "AUSTRALIA") & (df["activity"] == "Paddling")]
df_aus_padd

Empty DataFrame
Columns: [case_number, year, type, country, area, location, activity, name, sex_, age, time, species_, href]
Index: []

In [50]:
# 4.3 ¿Cuántos ataques se han producido en Australia antes del 2000?
df_aus_antiguos = df[(df["country"] == "AUSTRALIA") & (df["year"] < 2000.0)]
len(df_aus_antiguos)

151

In [51]:
# 4.4 ¿Y después del 2000?
df_aus_recientes = df[(df["country"] == "AUSTRALIA") & (df["year"] > 2000.0)]
len(df_aus_recientes)

167

In [52]:
# Extraed unicamente los ataques a mujeres.
df.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex_', 'age', 'time', 'species_', 'href'],
      dtype='object')

In [60]:
df_fem = df["sex_"]
df_fem

0       F
6       M
8       M
10      M
13      M
       ..
5528    M
5631    M
5667    M
5797    M
5905    M
Name: sex_, Length: 1502, dtype: object

In [56]:
df.head()

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
6,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
10,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
13,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...

In [68]:
# ¿Cuántas mujeres fueron atacadas en España?
df_sex_country = df[["sex_","country"]]

In [70]:
df_fem_spain = df[(df["sex_"] == "F") & (df["country"] == "SPAIN")]
len(df_fem_spain)

1

In [ ]:
# 7. Extraed los ataques que se hayan producido en el año 2000, 1997 y 2006. Utilizad el método isin() para resolver este ejercicio.

In [ ]:
# 8. Si extraemos los valores únicos de la columna species nos podemos dar cuenta que esta un poco sucia y extraer informacion útil de la misma.
# En este ejercicio tendréis que extraer los ataques que han ocurrido por tiburón blanco (lo encontraremos en la columna species como algo que contenga white o White). 
# Usad el método str.contains() para resolver este ejercicio.

In [ ]:
# 9. Extraed ahora los ataques por tiburón blanco o tigre. Utilizad el método str.contains() para resolver este ejercicio.

In [ ]:
# 10 . Utilizando la columna de year cread una nueva columna llamada siglo que siglo-XX o siglo-XXI. Donde el año sea menor que 2000 pondremos siglo-XX y el resto de los años siglo-XXI.