In [3]:
import pandas as pd

In [36]:
# Cargad el csv que guardasteis ayer.
df = pd. read_csv("odisea.csv")

In [37]:
df.head()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.06.18,1,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2018.06.09,2,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
3,2018.06.08,3,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4,2018.06.04,4,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...

In [33]:
#FALTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA, se borra todo :'( 
# Eliminar todos los nulos del dataframe dropna() de pandas 
# documentacion https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html?highlight=dropna#pandas.DataFrame.dropna
df.dropna(how = 'all', inplace = True)

In [35]:
df.head()

In [47]:
# Â¿CuÃ¡l es el nÃºmero de ataques que se han producido en Estados Unidos?
# creo que no sale bien porque el df tiene NaN todavÃ­a
df_usa = (df[df["country"] == "USA"])
df_usa.count(axis = 0)

case_number    2199
unnamed:_0     2200
year           2200
type           2200
country        2200
area           2197
location       2151
activity       2069
name           2171
sex_           2103
age            1496
time           1379
species_       1313
href           2200
dtype: int64

In [61]:
# Ataques en EspaÃ±a?
df_spain = df[df["country"] == "SPAIN"]
df_spain.head()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
82,2017.09.16.b,82,2017.0,Unprovoked,SPAIN,Canary Islands,Gran Canaria,Body surfing,male,M,13,NaN,"Porbeagle, 1.5 m",http://sharkattackfile.net/spreadsheets/pdf_di...
98,2017.08.26.b,98,2017.0,Invalid,SPAIN,CastellÃ³n,Grao de Moncofa,Swimming,female,F,11,Midday,Shark involvement questionable,http://sharkattackfile.net/spreadsheets/pdf_di...
113,2017.07.23.a,113,2017.0,Unprovoked,SPAIN,Majorca,"Estanys Beach, Colonia de Sant",Swimming,female,F,NaN,Afternoon,Blue shark 6',http://sharkattackfile.net/spreadsheets/pdf_di...
130,2017.06.17,130,2017.0,Unprovoked,SPAIN,Ibiza Island,Playa dÂ’en Bossa,Swimming,male,M,82,12h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
233,2016.07.29,234,2016.0,Unprovoked,SPAIN,Alicante Province,Arenales del Sol,Swimming,male,M,40,11h30,Blue shark,http://sharkattackfile.net/spreadsheets/pdf_di...

In [59]:
# 3.1 Â¿En quÃ© regiones se han producido los ataques?
df_spain["area"].unique

<bound method Series.unique of 82           Canary Islands
98                CastellÃ³n
113                 Majorca
130            Ibiza Island
233       Alicante Province
248          Canary Islands
320     Grand Canary Island
377                Alicante
470                 Granada
503               Catalonia
508                Alicante
527          Canary Islands
654               Catalonia
1007    Grand Canary Island
1102              Catalunya
1452               Alicante
2469           Costa Blanca
2813              Catalonia
2814                  CÃ¡diz
3050         Canary Islands
3399         Canary Islands
3847              Catalonia
5026         Canary Islands
5053               Valencia
5137          Sants-Montjic
5151              Valencia
5175                 Galica
5294           Gran Canaria
5363              Balearics
5370                MÃ¡laga
5405              Andalucia
5416                Galicia
5417         Canary Islands
5814               Valencia
5926       Eastern Catalona
5949                    NaN
5950                 Malaga
5951                 Malaga
5952                  CÃ¡diz
5953                  CÃ¡diz
6062                    NaN
6092                    NaN
Name: area, dtype: object>

In [62]:
# 3.2 Â¿CuÃ¡ntos ataques se han producido en cada Ã¡rea?
df_spain["area"].count

<bound method Series.count of 82           Canary Islands
98                CastellÃ³n
113                 Majorca
130            Ibiza Island
233       Alicante Province
248          Canary Islands
320     Grand Canary Island
377                Alicante
470                 Granada
503               Catalonia
508                Alicante
527          Canary Islands
654               Catalonia
1007    Grand Canary Island
1102              Catalunya
1452               Alicante
2469           Costa Blanca
2813              Catalonia
2814                  CÃ¡diz
3050         Canary Islands
3399         Canary Islands
3847              Catalonia
5026         Canary Islands
5053               Valencia
5137          Sants-Montjic
5151              Valencia
5175                 Galica
5294           Gran Canaria
5363              Balearics
5370                MÃ¡laga
5405              Andalucia
5416                Galicia
5417         Canary Islands
5814               Valencia
5926       Eastern Catalona
5949                    NaN
5950                 Malaga
5951                 Malaga
5952                  CÃ¡diz
5953                  CÃ¡diz
6062                    NaN
6092                    NaN
Name: area, dtype: object>

In [64]:
################################este no da nadaaaa.. estarÃ¡ bien??? 
# Extrae un dataframe nuevo con los ataques que se han producido en Australia y Estados Unidos. 
# ðŸ“Œ Nota Este ejercicio se puede resolver usando dos condiciones de filtrado o usando el mÃ©todo isin(). Hacedlo con ambas herramientas.
df_countries = df[(df["country"] == "USA") & (df["country"] == "AUSTRALIA")]
df_countries.head()

Empty DataFrame
Columns: [case_number, unnamed:_0, year, type, country, area, location, activity, name, sex_, age, time, species_, href]
Index: []

In [65]:
######## error porque USa y AUS es string
#mÃ©todo isin
df_countries2 = [df["country"].isin("USA"),df["country"].isin("AUSTRALIA")]
df_countries2

TypeError: only list-like objects are allowed to be passed to isin(), you passed a [str]

In [ ]:
# 4.1 Â¿CuÃ¡ntos ataques se han producido en cada pais?

In [ ]:
# 4.2 Â¿Ha habido ataques en Australia a gente que estuviera remando (lo encontrareis como Paddling en el dataframe en la columna activity)?

In [ ]:
# 4.3 Â¿CuÃ¡ntos ataques se han producido en Australia antes del 2000?

In [ ]:
# 4.4 Â¿Y despuÃ©s del 2000?

In [ ]:
# Extraed unicamente los ataques a mujeres.


# Â¿CuÃ¡ntas mujeres fueron atacadas en EspaÃ±a?

In [ ]:
# 7. Extraed los ataques que se hayan producido en el aÃ±o 2000, 1997 y 2006. Utilizad el mÃ©todo isin() para resolver este ejercicio.
# 8. Si extraemos los valores Ãºnicos de la columna species nos podemos dar cuenta que esta un poco sucia y extraer informacion Ãºtil de la misma. En este ejercicio tendrÃ©is que extraer los ataques que han ocurrido por tiburÃ³n blanco (lo encontraremos en la columna species como algo que contenga white o White). Usad el mÃ©todo str.contains() para resolver este ejercicio.
# 9. Extraed ahora los ataques por tiburÃ³n blanco o tigre. Utilizad el mÃ©todo str.contains() para resolver este ejercicio.
# 10 . Utilizando la columna de year cread una nueva columna llamada siglo que siglo-XX o siglo-XXI. Donde el aÃ±o sea menor que 2000 pondremos siglo-XX y el resto de los aÃ±os siglo-XXI.