In [3]:
import pandas as pd

In [36]:
# Cargad el csv que guardasteis ayer.
df = pd. read_csv("odisea.csv")

In [37]:
df.head()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.06.18,1,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2018.06.09,2,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
3,2018.06.08,3,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4,2018.06.04,4,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...

In [33]:
#FALTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA, se borra todo :'( 
# Eliminar todos los nulos del dataframe dropna() de pandas 
# documentacion https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html?highlight=dropna#pandas.DataFrame.dropna
df.dropna(how = 'all', inplace = True)

In [35]:
df.head()

In [47]:
# ¿Cuál es el número de ataques que se han producido en Estados Unidos?
# creo que no sale bien porque el df tiene NaN todavía
df_usa = (df[df["country"] == "USA"])
df_usa.count(axis = 0)

case_number    2199
unnamed:_0     2200
year           2200
type           2200
country        2200
area           2197
location       2151
activity       2069
name           2171
sex_           2103
age            1496
time           1379
species_       1313
href           2200
dtype: int64

In [61]:
# Ataques en España?
df_spain = df[df["country"] == "SPAIN"]
df_spain.head()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
82,2017.09.16.b,82,2017.0,Unprovoked,SPAIN,Canary Islands,Gran Canaria,Body surfing,male,M,13,NaN,"Porbeagle, 1.5 m",http://sharkattackfile.net/spreadsheets/pdf_di...
98,2017.08.26.b,98,2017.0,Invalid,SPAIN,Castellón,Grao de Moncofa,Swimming,female,F,11,Midday,Shark involvement questionable,http://sharkattackfile.net/spreadsheets/pdf_di...
113,2017.07.23.a,113,2017.0,Unprovoked,SPAIN,Majorca,"Estanys Beach, Colonia de Sant",Swimming,female,F,NaN,Afternoon,Blue shark 6',http://sharkattackfile.net/spreadsheets/pdf_di...
130,2017.06.17,130,2017.0,Unprovoked,SPAIN,Ibiza Island,Playa den Bossa,Swimming,male,M,82,12h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
233,2016.07.29,234,2016.0,Unprovoked,SPAIN,Alicante Province,Arenales del Sol,Swimming,male,M,40,11h30,Blue shark,http://sharkattackfile.net/spreadsheets/pdf_di...

In [59]:
# 3.1 ¿En qué regiones se han producido los ataques?
df_spain["area"].unique

<bound method Series.unique of 82           Canary Islands
98                Castellón
113                 Majorca
130            Ibiza Island
233       Alicante Province
248          Canary Islands
320     Grand Canary Island
377                Alicante
470                 Granada
503               Catalonia
508                Alicante
527          Canary Islands
654               Catalonia
1007    Grand Canary Island
1102              Catalunya
1452               Alicante
2469           Costa Blanca
2813              Catalonia
2814                  Cádiz
3050         Canary Islands
3399         Canary Islands
3847              Catalonia
5026         Canary Islands
5053               Valencia
5137          Sants-Montjic
5151              Valencia
5175                 Galica
5294           Gran Canaria
5363              Balearics
5370                Málaga
5405              Andalucia
5416                Galicia
5417         Canary Islands
5814               Valencia
5926       Eastern Catalona
5949                    NaN
5950                 Malaga
5951                 Malaga
5952                  Cádiz
5953                  Cádiz
6062                    NaN
6092                    NaN
Name: area, dtype: object>

In [62]:
# 3.2 ¿Cuántos ataques se han producido en cada área?
df_spain["area"].count

<bound method Series.count of 82           Canary Islands
98                Castellón
113                 Majorca
130            Ibiza Island
233       Alicante Province
248          Canary Islands
320     Grand Canary Island
377                Alicante
470                 Granada
503               Catalonia
508                Alicante
527          Canary Islands
654               Catalonia
1007    Grand Canary Island
1102              Catalunya
1452               Alicante
2469           Costa Blanca
2813              Catalonia
2814                  Cádiz
3050         Canary Islands
3399         Canary Islands
3847              Catalonia
5026         Canary Islands
5053               Valencia
5137          Sants-Montjic
5151              Valencia
5175                 Galica
5294           Gran Canaria
5363              Balearics
5370                Málaga
5405              Andalucia
5416                Galicia
5417         Canary Islands
5814               Valencia
5926       Eastern Catalona
5949                    NaN
5950                 Malaga
5951                 Malaga
5952                  Cádiz
5953                  Cádiz
6062                    NaN
6092                    NaN
Name: area, dtype: object>

In [64]:
################################este no da nadaaaa.. estará bien??? 
# Extrae un dataframe nuevo con los ataques que se han producido en Australia y Estados Unidos. 
# 📌 Nota Este ejercicio se puede resolver usando dos condiciones de filtrado o usando el método isin(). Hacedlo con ambas herramientas.
df_countries = df[(df["country"] == "USA") & (df["country"] == "AUSTRALIA")]
df_countries.head()

Empty DataFrame
Columns: [case_number, unnamed:_0, year, type, country, area, location, activity, name, sex_, age, time, species_, href]
Index: []

In [65]:
######## error porque USa y AUS es string
#método isin
df_countries2 = [df["country"].isin("USA"),df["country"].isin("AUSTRALIA")]
df_countries2

TypeError: only list-like objects are allowed to be passed to isin(), you passed a [str]

In [ ]:
# 4.1 ¿Cuántos ataques se han producido en cada pais?

In [ ]:
# 4.2 ¿Ha habido ataques en Australia a gente que estuviera remando (lo encontrareis como Paddling en el dataframe en la columna activity)?

In [ ]:
# 4.3 ¿Cuántos ataques se han producido en Australia antes del 2000?

In [ ]:
# 4.4 ¿Y después del 2000?

In [ ]:
# Extraed unicamente los ataques a mujeres.


# ¿Cuántas mujeres fueron atacadas en España?

In [ ]:
# 7. Extraed los ataques que se hayan producido en el año 2000, 1997 y 2006. Utilizad el método isin() para resolver este ejercicio.
# 8. Si extraemos los valores únicos de la columna species nos podemos dar cuenta que esta un poco sucia y extraer informacion útil de la misma. En este ejercicio tendréis que extraer los ataques que han ocurrido por tiburón blanco (lo encontraremos en la columna species como algo que contenga white o White). Usad el método str.contains() para resolver este ejercicio.
# 9. Extraed ahora los ataques por tiburón blanco o tigre. Utilizad el método str.contains() para resolver este ejercicio.
# 10 . Utilizando la columna de year cread una nueva columna llamada siglo que siglo-XX o siglo-XXI. Donde el año sea menor que 2000 pondremos siglo-XX y el resto de los años siglo-XXI.