In [1]:
import pandas as pd
import numpy as np

In [3]:
# Cargad el csv que guardasteis ayer.
df = pd. read_csv("odisea.csv")

In [ ]:
df.head()

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...

In [ ]:
#n췈 de filas de el df original (sin borar nan)
df_con_nans = df.shape
df_con_nans

(6114, 13)

In [ ]:
#eliminando nulos del df
df.dropna(inplace = True)

In [ ]:
df_sin_nans = df.shape
df_sin_nans

(1502, 13)

In [ ]:
#se han borrado
nans_borrados = df_con_nans[0]-df_sin_nans[0]
nans_borrados

4612

In [ ]:
df.head()

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
6,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
10,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
13,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...

In [ ]:
# 쮺u치l es el n칰mero de ataques que se han producido en Estados Unidos?
df_usa = (df[df["country"] == "USA"])
len(df_usa)

719

In [ ]:
# Ataques en Espa침a?
df_spain = df[df["country"] == "SPAIN"]
len(df_spain)

(5, 13)

In [ ]:
# 3.1 쮼n qu칠 regiones se han producido los ataques?
df_spain.head()

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
98,2017.08.26.b,2017.0,Invalid,SPAIN,Castell칩n,Grao de Moncofa,Swimming,female,F,11,Midday,Shark involvement questionable,http://sharkattackfile.net/spreadsheets/pdf_di...
233,2016.07.29,2016.0,Unprovoked,SPAIN,Alicante Province,Arenales del Sol,Swimming,male,M,40,11h30,Blue shark,http://sharkattackfile.net/spreadsheets/pdf_di...
377,2015.08.18.a,2015.0,Invalid,SPAIN,Alicante,"Poniente Beach, Benidorm",Swimming,male,M,10,11h00,Shark involvement not confirmed,http://sharkattackfile.net/spreadsheets/pdf_di...
1007,2010.07.16.b,2010.0,Provoked,SPAIN,Grand Canary Island,"Sardina del Norte, G치ldar",Swimming,male,M,9,19h15,Angel shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2469,1993.09.03,1993.0,Unprovoked,SPAIN,Costa Blanca,"Playa de las Arenas, Valencia",Swimming,Jorge Durich Heredia (or Hernandez),M,69,08h00,1.2 m [4'] shark,http://sharkattackfile.net/spreadsheets/pdf_di...

In [ ]:
######################################################
#estas son las regiones donde se han producido los ataques
df_spain["area"].unique

<bound method Series.unique of 82           Canary Islands
98                Castell칩n
113                 Majorca
130            Ibiza Island
233       Alicante Province
248          Canary Islands
320     Grand Canary Island
377                Alicante
470                 Granada
503               Catalonia
508                Alicante
527          Canary Islands
654               Catalonia
1007    Grand Canary Island
1102              Catalunya
1452               Alicante
2469           Costa Blanca
2813              Catalonia
2814                  C치diz
3050         Canary Islands
3399         Canary Islands
3847              Catalonia
5026         Canary Islands
5053               Valencia
5137          Sants-Montjic
5151              Valencia
5175                 Galica
5294           Gran Canaria
5363              Balearics
5370                M치laga
5405              Andalucia
5416                Galicia
5417         Canary Islands
5814               Valencia
5926       Eastern Catalona
5949                    NaN
5950                 Malaga
5951                 Malaga
5952                  C치diz
5953                  C치diz
6062                    NaN
6092                    NaN
Name: area, dtype: object>

In [ ]:
# 3.2 쮺u치ntos ataques se han producido en cada 치rea?
df_spain["area"].count

<bound method Series.count of 82           Canary Islands
98                Castell칩n
113                 Majorca
130            Ibiza Island
233       Alicante Province
248          Canary Islands
320     Grand Canary Island
377                Alicante
470                 Granada
503               Catalonia
508                Alicante
527          Canary Islands
654               Catalonia
1007    Grand Canary Island
1102              Catalunya
1452               Alicante
2469           Costa Blanca
2813              Catalonia
2814                  C치diz
3050         Canary Islands
3399         Canary Islands
3847              Catalonia
5026         Canary Islands
5053               Valencia
5137          Sants-Montjic
5151              Valencia
5175                 Galica
5294           Gran Canaria
5363              Balearics
5370                M치laga
5405              Andalucia
5416                Galicia
5417         Canary Islands
5814               Valencia
5926       Eastern Catalona
5949                    NaN
5950                 Malaga
5951                 Malaga
5952                  C치diz
5953                  C치diz
6062                    NaN
6092                    NaN
Name: area, dtype: object>

In [ ]:
################################este no da nadaaaa.. estar치 bien??? 
# Extrae un dataframe nuevo con los ataques que se han producido en Australia y Estados Unidos. 
# 游늷 Nota Este ejercicio se puede resolver usando dos condiciones de filtrado o usando el m칠todo isin(). Hacedlo con ambas herramientas.
df_countries = df[(df["country"] == "USA") & (df["country"] == "AUSTRALIA")]
df_countries.head()

Empty DataFrame
Columns: [case_number, year, type, country, area, location, activity, name, sex_, age, time, species_, href]
Index: []

In [ ]:
######## error porque USa y AUS es string
#m칠todo isin
df_countries2 = [df["country"].isin("USA"),df["country"].isin("AUSTRALIA")]
df_countries2

TypeError: only list-like objects are allowed to be passed to isin(), you passed a [str]

In [ ]:
# 4.1 쮺u치ntos ataques se han producido en cada pais?
df["year"].unique

<bound method Series.unique of 0       2018.0
6       2018.0
8       2018.0
10      2018.0
13      2018.0
         ...
5528    1901.0
5631    1894.0
5667    1892.0
5797    1880.0
5905    1868.0
Name: year, Length: 1502, dtype: float64>

In [ ]:
# 4.2 쮿a habido ataques en Australia a gente que estuviera remando (lo encontrareis como Paddling en el dataframe en la columna activity)?

df_aus_padd = df[(df["country"] == "AUSTRALIA") & (df["activity"] == "Paddling")]
df_aus_padd

Empty DataFrame
Columns: [case_number, year, type, country, area, location, activity, name, sex_, age, time, species_, href]
Index: []

In [ ]:
# 4.3 쮺u치ntos ataques se han producido en Australia antes del 2000?
df_aus_antiguos = df[(df["country"] == "AUSTRALIA") & (df["year"] < 2000.0)]
len(df_aus_antiguos)

151

In [ ]:
# 4.4 쯏 despu칠s del 2000?
df_aus_recientes = df[(df["country"] == "AUSTRALIA") & (df["year"] > 2000.0)]
len(df_aus_recientes)

167

In [ ]:
df_fem = df["sex_"]
df_fem

0       F
6       M
8       M
10      M
13      M
       ..
5528    M
5631    M
5667    M
5797    M
5905    M
Name: sex_, Length: 1502, dtype: object

In [14]:
# Extraed unicamente los ataques a mujeres
df_fem = df[(df["sex_"] == "F")]
df_fem

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
14,2018.05.00,2018.0,Provoked,AUSTRALIA,Westerm Australia,Dugong Bay,Feeding sharks,Melisa Brunning,F,34,NaN,"Tawny nurse shark, 2m",http://sharkattackfile.net/spreadsheets/pdf_di...
40,2018.02.23,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Little Congwong Beach, La Perouse",Swimming,Anna Shurapey,F,55,"19h00, Dusk","Juvenile white shark, 2.7 to 3.2 m",http://sharkattackfile.net/spreadsheets/pdf_di...
43,2018.02.14,2018.0,Invalid,AUSTRALIA,Queensland,Mooloolaba Beach,Swimming,Sharna Babd,F,NaN,18h00,Possibly a wobbegong,http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5985,1855.04.09.R,1855.0,Unprovoked,AUSTRALIA,South Australia,Port Wakefield,Fell overboard from the Malacca,child,F,2췋,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
6002,1852.07.28,1852.0,Invalid,ATLANTIC OCEAN,NaN,NaN,NaN,Karen Bredesen Str칝te,F,1,NaN,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...
6017,1849.06.08.a,1849.0,Unprovoked,USA,Florida,"Pensacola, Escambia County",Bathing,Mrs. Cracton,F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
6066,1834.07.15.R,1834.0,Unprovoked,FRENCH POLYNESIA,Society Islands,Tahiti,Swimming,Kaugatava Orurutm,F,NaN,NaN,Reported to involve a hammerhead shark,http://sharkattackfile.net/spreadsheets/pdf_di...
6067,1832.06.04,1832.0,Unprovoked,AUSTRALIA,New South Wales,"South Head, Sydney",Fishing,Aboriginal female,F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...

In [16]:
# 쮺u치ntas mujeres fueron atacadas en Espa침a?
df_sex_country = df[["sex_","country"]]
print(df_sex_country)

     sex_    country
0       F        USA
1       F        USA
2       M        USA
3       M  AUSTRALIA
4       M     MEXICO
...   ...        ...
6109  NaN  AUSTRALIA
6110    M        USA
6111    M  AUSTRALIA
6112  NaN      INDIA
6113    N        NaN

[6114 rows x 2 columns]

In [15]:
# 쮺u치ntas mujeres fueron atacadas en Espa침a?
df_fem_spain = df[(df["sex_"] == "F") & (df["country"] == "SPAIN")]
len(df_fem_spain)

9

In [38]:
# 7. Extraed los ataques que se hayan producido en el a침o 2000, 1997 y 2006. Utilizad el m칠todo isin() para resolver este ejercicio.
df_ataques_2000 = df[df["year"].isin([2000.0])]
df_ataques_2000.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
1975,2000.12.24,2000.0,Unprovoked,AUSTRALIA,Queensland,Flinders Cay,Scuba diving,male,M,23,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1976,2000.12.12,2000.0,Unprovoked,FIJI,Taveuni,Garden Island Resort,Swimming back from anchored sailboat,Michael Loxton,M,47,14h30,6 m [20'] shark,http://sharkattackfile.net/spreadsheets/pdf_di...

In [37]:
# ataques 1997
df_ataques_1997 = df[df["year"].isin([1997.0])]
df_ataques_1997.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
2203,1997.12.28.b,1997.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Pringle Bay, 44 miles southeast of Cape Town",Spearfishing,Ian James Hill,M,39,14h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2204,1997.12.28.a,1997.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,St. Francis Bay,Sitting on surfboard,Stuart Buchanan,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...

In [39]:
# ataques 2006
df_ataques_2006 = df[df["year"].isin([2006.0])]
df_ataques_2006.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
1407,2006.12.18,2006.0,Unprovoked,AUSTRALIA,Victoria,"Winki Pop, Bells Beach",Surfing,Peter Galvin,M,25,20h00,2.5 to 3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1408,2006.12.11,2006.0,Unprovoked,NEW ZEALAND,North Island,"Raglan, Manu Bay",Surfing,Elliot Paerata-Reid,M,10,11h00,2 to 3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...

In [55]:
# 8. Si extraemos los valores 칰nicos de la columna species nos podemos dar cuenta que esta un poco sucia y extraer informacion 칰til de la misma.
# En este ejercicio tendr칠is que extraer los ataques que han ocurrido por tibur칩n blanco (lo encontraremos en la columna species como algo que contenga white o White). 
# Usad el m칠todo str.contains() para resolver este ejercicio.

df_ataque_tiburon = df[df['species_'].str.contains('white', 'White', na= False, regex = True)]
df_ataque_tiburon.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
40,2018.02.23,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Little Congwong Beach, La Perouse",Swimming,Anna Shurapey,F,55,"19h00, Dusk","Juvenile white shark, 2.7 to 3.2 m",http://sharkattackfile.net/spreadsheets/pdf_di...
103,2017.08.05,2017.0,Unprovoked,EGYPT,Red Sea Protectorate,Marsa Ghalib,Snorkeling,Kirsten Schachinger,F,20,NaN,"Oceanic whitetip shark, 1.8 to 2 m",http://sharkattackfile.net/spreadsheets/pdf_di...

In [65]:
# 9. Extraed ahora los ataques por tibur칩n blanco o tigre. Utilizad el m칠todo str.contains() para resolver este ejercicio.
df_tiburon_tigre = df[df['species_'].str.contains('White','Tiger', na= False, regex = True)]
df_tiburon_tigre.sample()

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
3028,1981.03.04,1981.0,Unprovoked,CHILE,Coquimbo,"Bahia Totoralillo, 80 km north of Coquimbo",Free diving Spearfishing,Carlos Veraga M.,M,NaN,10h30,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...

In [68]:
# 10 . Utilizando la columna de year cread una nueva columna llamada siglo que siglo-XX o siglo-XXI. 
# Donde el a침o sea menor que 2000 pondremos siglo-XX y el resto de los a침os siglo-XXI.

df_siglo = pd.DataFrame({'siglo_xx': ['year' < 2000], 'siglo_xxi': ['year' > 2000]})

ValueError: invalid literal for int() with base 10: 'year'